<HTML>
<link rel="stylesheet" type="text/css" href="{{ URL::asset('/js/support/select2/select2.css') }}" />
<meta name="csrf-token" content="{{ csrf_token() }}" />
<HEAD>
</HEAD>

<BODY>


<form action="/support/addtiketpost" method="POST">
    <input type="hidden" value="eknhmliRJp28gbagTc8GbNgQ3Ek8t15v10kfnUKn" name="_token">
    <p><input type="text" name="phone"></p>
    <p><input type="text" name="body"></p>
    <p><input type="submit"></p>
</form>


</BODY>

</HTML>

