table {
    background: none repeat scroll 0 0 #f6f5f5;
    border-collapse: collapse;
    margin: 10px;
    border:1px solid #000000;
}
td, th {
    text-align: center;
    border: 1px solid #000000;
    padding: 10px;
}
.filter {
    padding: 10px;
}

.wrap {
    width: 300px;
    background: repeating-linear-gradient(
        45deg,
        #DDDDDD,
        #9b9b9b 10px,
        #A3A3A3 12px,
        #9b9b9b 15px
    );

}
.feeld {
    padding: 10px;
    border-radius: 10px;
    background: #dad9d9;
    width:450px;
    margin-left:10px;
    margin-top: 10px;
    float:left;
}