.arrow-block {
    margin-top: 20px;
    width: 750px;
    min-height: 200px;
    background-image: url("/images/line-arrow.png");
    background-position: center  center;
    background-repeat: no-repeat;
}

.red-block {
    width: 250px;
    height: 100px;
    background: #ff0000;
    margin-top: 4px;
    cursor: pointer;
}
.blue-block {
    width: 250px;
    height: 100px;
    background: #00b3ee;
    margin-top: -20px;
    cursor: pointer;
}

.red-block p, .blue-block p {
    font-size: 20px;
    padding-top: 20px;
}

.pixel-date{

}

.pixel-date-from-blue {
    border-radius: 10px;
    background: #000000;
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: 10px;
    margin-left: -5px;
}

.pixel-date-to-blue {
    border-radius: 10px;
    background: #000000;
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: 10px;
    margin-left: 245px;
}


.pixel-date-from-red {
    border-radius: 10px;
    background: #000000;
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: -95px;
    margin-left: -5px;
}

.pixel-date-to-red {
    border-radius: 10px;
    background: #000000;
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: -95px;
    margin-left: 245px;
}
